<!-- <div class="container ml-5">
  <div class="row ">
    <div class="col-lg-12">
      <h1>User Registration</h1>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="Details">
          <div class="row">
            <div class="col-lg-12">
              <label>Name</label><br />
              <input type="text" placeholder="username" formControlName="name" /><br />
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-lg-12">
              <label> Email</label><br />
              <input type="email" placeholder="user@example" formControlName="email" /><br />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <label>Password</label><br />
              <input type="password" placeholder="Password" formControlName="name" /><br />
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-lg-12">
              <label> Country</label><br />
              <input type="text" placeholder="Country" formControlName="country" />
              <br />
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-12">
              <label> State</label><br />
              <input type="text" placeholder="text" formControlName="city" /><br />
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-12">
              <label>City</label><br />
              <input type="text" placeholder="text" formControlName="city" /><br />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-12 center">
              <button class="btn btn-dark" type="submit" (click)="submitData()">
                submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<pre></pre> -->

<form [formGroup]="Details">
 <div class="container">
   <div class="mt-3 mb-3" style="text-align: center;">
   <h1>User Registration</h1>
  </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Name</label>
        <input type="Name" class="form-control" formControlName="name" placeholder="Email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Phone Number</label>
        <input type="number" class="form-control" formControlName="Phone" placeholder="Phone Number">
      </div>
    </div>
    <div class="form-group">
      <label>PassWord</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password" >
    </div>
    <div class="form-group">
      <label>confirm password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="confirm password">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Country</label>
        <select id="inputState" class="form-control" formControlName="country" >
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" formControlName="state"> 
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">City</label>
        <select id="inputState" class="form-control" formControlName="city">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Gender" id="Male" value="Male" checked formControlName="Gender">
          <label class="form-check-label" for="Male">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Gender" id="Female" value="Female" formControlName="Gender">
          <label class="form-check-label" for="Female">
            Female
          </label>
        </div>



      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Martial Status</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Martial-status" id="single" value="option1" checked formControlName="Marital-status">
          <label class="form-check-label" for="single">
            Single
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="Martial-status" id="Married" value="option2" formControlName="Marital-status">
          <label class="form-check-label" for="Married">
            Married
          </label>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Fav Food</label>
        <input type="text" class="form-control" formControlName="Fav-Food">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Fav Color</label>
        <input type="text" class="form-control"  formControlName="Fav-color">
      </div>
    </div>

    
    <button type="submit" class="btn btn-primary" (click)="submitData()">Sign in</button>
  </div>
  </form>
  <pre>
  {{this.Details|json}}
</pre>